<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the main page 
    <br><br>
<form action="/index" method="post">
    <label id = "age" name ="age">Enter your age :<input type="text" name = "age" id = "age"><br><br> </label>
    

    <label id = "bs_fast" name ="bs_fast">Enter your BS FAST : <input type="text" name = "bs_fast" id = "bs_fast"><br><br></label>
    

    <label id = "bs_pp" name ="bs_pp">Enter your BS PP : <input type="text" name = "bs_pp" id = "bs_pp"><br><br></label>
    

    <label id = "plasma_r" name ="plasma_r">Enter your Plasma R : <input type="text" name = "plasma_r" id = "plasma_r"><br><br></label>
    

    <label id = "plasma_f" name ="plasma_f">Enter your Plasma F : <input type="text" name = "plasma_f" id = "plasma_f"><br><br></label>
    

    <label id = "hb1ac" name ="hb1ac">Enter your HB1AC : <input type="text" name = "hb1ac" id = "hb1ac"><br><br> </label>
    

    <button type="submit">Submit</button>


</form>
</body>
</html>